<div class="card">
  <div class="card-header">
    Dados da Loja
  </div>
  <div class="card-body">
    <h5 class="card-title">Descrição</h5>
    <p class="card-text">{{description}}</p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">Preço
        <span class="badge badge-primary badge-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">Distância
        <span class="badge badge-primary badge-pill">14</span>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Ver no mapa</a>
    </div>
  </div>
</div>
