<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Localize as lojas mais próximas com os produtos desejados.</h1>
    <p class="lead text-muted">Informe o produto ou endereço para exibição das lojas.</p>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Utilize cep, endereço, produto ou código do produto" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
    </form>
  </div>
</section>
